body {
	font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
}
#titre {
	text-align: center;
	height: all;
	width: all;
	color: white;
	font-size: 60px;
	font-weight: bold;
	background-color: teal;
	text-decoration: underline;
    top: 0;
    margin: 0;
}
h1 {
	text-align: center;
	font-size: 40px;
}
p.title {
	text-align: center;
	color: red;
	font-size: 20px;
}
p {
	text-align: center;
}
footer {
    text-align: center;
    font-weight: bold;
    background-color: teal;
    justify-content: center;
    width: 100%;
    position: fixed;
    display: flex;
    margin-top: 50px;
    left: 0;
    bottom: 0;
}
a.Legal {
    color: white;
    text-decoration: underline;
    margin: 5px;
}
a.Legal:hover {
    color: black;
}
.cookiescontainer {
  position: fixed;
  bottom: -100%;
  left: 0;
  right: 0;
  background: #2f3640;
  color: white;
  padding: 0 32px;
  box-shadow: 0 -2px 16px rgba(47, 54, 64, 0.4);
  transition: 400ms;
}

.cookiescontainer.activeBnr {
  bottom: 0;
}

.cookiescontainer a {
  color: white;
}

.cookiesbtnaccept {
  background: green;
  border: 0;
  color: white;
  padding: 12px 48px;
  font-size: 18px;
  margin-bottom: 16px;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 15px;
}

.cookiesbtnrefuse {
  background: #e84118;
  border: 0;
  color: white;
  padding: 12px 48px;
  font-size: 18px;
  margin-bottom: 16px;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 15px;
}